{% block head %}
    <!-- Any page-specific tags that belong in the <head>, such as a page-specific stylesheet -->
    <link rel="stylesheet" href="/assets/css/scrollers.css"/>
{% endblock %}

<!-- ============================================ -->
<!--             Scrolling banner                 -->
<!-- ============================================ -->

<div id="brand-banner" class="scroller" data-direction="left" data-speed="fast">
    <div class="scroller__inner">
        <picture class="motion">
            <img alt="" class="pic" src="/assets/images/scrolling_banner/coffee-plant.svg"
                    aria-hidden="true" decoding="async" width="40" height="33.5">
        </picture>
        <picture>
            <img alt="" class="pic" src="/assets/images/scrolling_banner/001-letter-s.svg"
                    aria-hidden="true" decoding="async" width="40" height="33.5">
        </picture>
        <picture>
            <img alt="" class="pic" src="/assets/images/scrolling_banner/002-letter-u.svg"
                    aria-hidden="true" decoding="async" width="40" height="33.5">
        </picture>
        <picture>
            <img alt="" class="pic" src="/assets/images/scrolling_banner/003-letter-p.svg"
                    aria-hidden="true" decoding="async" width="40" height="33.5">
        </picture>
        <picture>
            <img alt="" class="pic" src="/assets/images/scrolling_banner/004-letter-e.svg"
                    aria-hidden="true" decoding="async" width="40" height="33.5">
        </picture>
        <picture>
            <img alt="" class="pic" src="/assets/images/scrolling_banner/005-letter-r.svg"
                    aria-hidden="true" decoding="async" width="40" height="33.5">
        </picture>
        <picture>
            <img alt="" class="pic" src="/assets/images/scrolling_banner/006-letter-o.svg"
                    aria-hidden="true" decoding="async" width="40" height="33.5">
        </picture>
        <picture>
            <img alt="" class="pic" src="/assets/images/scrolling_banner/007-letter-f.svg"
                    aria-hidden="true" decoding="async" width="40" height="33.5">
        </picture>
        <picture>
            <img alt="" class="pic" src="/assets/images/scrolling_banner/007-letter-f.svg"
                    aria-hidden="true" decoding="async" width="40" height="33.5">
        </picture>
        <picture>
            <img alt="" class="pic" src="/assets/images/scrolling_banner/008-letter-i.svg"
                    aria-hidden="true" decoding="async" width="40" height="33.5">
        </picture>
        <picture>
            <img alt="" class="pic" src="/assets/images/scrolling_banner/009-letter-c.svg"
                    aria-hidden="true" decoding="async" width="40" height="33.5">
        </picture>
        <picture>
            <img alt="" class="pic" src="/assets/images/scrolling_banner/008-letter-i.svg"
                    aria-hidden="true" decoding="async" width="40" height="33.5">
        </picture>
        <picture>
            <img alt="" class="pic" src="/assets/images/scrolling_banner/010-letter-a.svg"
                    aria-hidden="true" decoding="async" width="40" height="33.5">
        </picture>
        <picture>
            <img alt="" class="pic" src="/assets/images/scrolling_banner/011-letter-l.svg"
                    aria-hidden="true" decoding="async" width="40" height="33.5">
        </picture>
        <picture>
            <img alt="" class="pic" src="/assets/images/scrolling_banner/coffee-beans.svg"
                    aria-hidden="true" decoding="async" width="40" height="33.5">
        </picture>
        <picture class="no-motion">
            <img alt="" class="pic" src="/assets/images/scrolling_banner/001-letter-s.svg"
                    aria-hidden="true" decoding="async" width="40" height="33.5">
        </picture>
        <picture class="no-motion">
            <img alt="" class="pic" src="/assets/images/scrolling_banner/002-letter-u.svg"
                    aria-hidden="true" decoding="async" width="40" height="33.5">
        </picture>
        <picture class="no-motion">
            <img alt="" class="pic" src="/assets/images/scrolling_banner/003-letter-p.svg"
                    aria-hidden="true" decoding="async" width="40" height="33.5">
        </picture>
        <picture class="no-motion">
            <img alt="" class="pic" src="/assets/images/scrolling_banner/004-letter-e.svg"
                    aria-hidden="true" decoding="async" width="40" height="33.5">
        </picture>
        <picture class="no-motion">
            <img alt="" class="pic" src="/assets/images/scrolling_banner/005-letter-r.svg"
                    aria-hidden="true" decoding="async" width="40" height="33.5">
        </picture>
        <picture class="no-motion">
            <img alt="" class="pic" src="/assets/images/scrolling_banner/006-letter-o.svg"
                    aria-hidden="true" decoding="async" width="40" height="33.5">
        </picture>
        <picture class="no-motion">
            <img alt="" class="pic" src="/assets/images/scrolling_banner/007-letter-f.svg"
                    aria-hidden="true" decoding="async" width="40" height="33.5">
        </picture>
        <picture class="no-motion">
            <img alt="" class="pic" src="/assets/images/scrolling_banner/007-letter-f.svg"
                    aria-hidden="true" decoding="async" width="40" height="33.5">
        </picture>
        <picture class="no-motion">
            <img alt="" class="pic" src="/assets/images/scrolling_banner/008-letter-i.svg"
                    aria-hidden="true" decoding="async" width="40" height="33.5">
        </picture>
        <picture class="no-motion">
            <img alt="" class="pic" src="/assets/images/scrolling_banner/009-letter-c.svg"
                    aria-hidden="true" decoding="async" width="40" height="33.5">
        </picture>
        <picture class="no-motion">
            <img alt="" class="pic" src="/assets/images/scrolling_banner/008-letter-i.svg"
                    aria-hidden="true" decoding="async" width="40" height="33.5">
        </picture>
        <picture class="no-motion">
            <img alt="" class="pic" src="/assets/images/scrolling_banner/010-letter-a.svg"
                    aria-hidden="true" decoding="async" width="40" height="33.5">
        </picture>
        <picture class="no-motion">
            <img alt="" class="pic" src="/assets/images/scrolling_banner/011-letter-l.svg"
                    aria-hidden="true" decoding="async" width="40" height="33.5">
        </picture>
        <picture class="no-motion">
            <img alt="" class="pic" src="/assets/images/scrolling_banner/coffee-plant.svg"
                    aria-hidden="true" decoding="async" width="40" height="33.5">
        </picture>
    </div>
</div>