{% block head %}
    <!-- Any page-specific tags that belong in the <head>, such as a page-specific stylesheet -->
    <link rel="stylesheet" href="/assets/css/scrollers.css"/>
{% endblock %}

<!-- ============================================ -->
<!--             Scrolling banner                 -->
<!-- ============================================ -->

<div id="brand-banner" class="scroller" data-direction="left" data-speed="fast">
    <div class="scroller__inner">
        <picture class="motion">
            <img class="pic" src="/assets/svgs/communication.svg" alt="email symbol"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture>
            <img class="pic" src="/assets/images/scrolling_banner/009-letter-c.svg" alt="the letter c"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture>
            <img class="pic" src="/assets/images/scrolling_banner/006-letter-o.svg" alt="the letter o"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture>
            <img class="pic" src="/assets/svgs/letter-n.svg" alt="the letter n" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
        </picture>
        <picture>
            <img class="pic" src="/assets/svgs/letter-t.svg" alt="the letter t"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture>
            <img class="pic" src="/assets/images/scrolling_banner/010-letter-a.svg" alt="the letter a"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture>
            <img class="pic" src="/assets/images/scrolling_banner/009-letter-c.svg" alt="the letter c"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture>
            <img class="pic" src="/assets/svgs/letter-t.svg" alt="the letter t"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture>
            <img class="pic" src="/assets/svgs/phone-call.svg" alt="phone symbol"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/009-letter-c.svg" alt="the letter c"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/006-letter-o.svg" alt="the letter o"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/svgs/letter-n.svg" alt="the letter n" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/svgs/letter-t.svg" alt="the letter t"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/010-letter-a.svg" alt="the letter a"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/009-letter-c.svg" alt="the letter c"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/svgs/letter-t.svg" alt="the letter t"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/svgs/communication.svg" alt="email symbol"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/009-letter-c.svg" alt="the letter c"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/006-letter-o.svg" alt="the letter o"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/svgs/letter-n.svg" alt="the letter n" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/svgs/letter-t.svg" alt="the letter t"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/010-letter-a.svg" alt="the letter a"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/009-letter-c.svg" alt="the letter c"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/svgs/letter-t.svg" alt="the letter t"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/svgs/phone-call.svg" alt="phone symbol"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/009-letter-c.svg" alt="the letter c"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/006-letter-o.svg" alt="the letter o"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/svgs/letter-n.svg" alt="the letter n" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/svgs/letter-t.svg" alt="the letter t"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/010-letter-a.svg" alt="the letter a"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/009-letter-c.svg" alt="the letter c"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/svgs/letter-t.svg" alt="the letter t"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/svgs/communication.svg" alt="email symbol"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
    </div>
</div>