{% block head %}
<!-- Any page-specific tags that belong in the <head>, such as a page-specific stylesheet -->
<link rel="stylesheet" href="/assets/css/scrollers.css" />
{% endblock %}

<!-- ============================================ -->
<!--             Scrolling banner                 -->
<!-- ============================================ -->

<div
    id="events-banner"
    class="scroller"
    data-direction="right"
    data-speed="fast"
>
    <div class="scroller__inner">
        <picture class="motion">
            <img
                alt=""
                class="pic"
                src="/assets/svgs/concert.svg"
                aria-hidden="true"
                decoding="async"
                width="40"
                height="34"
            />
        </picture>
        <picture>
            <img
                alt=""
                class="pic"
                src="/assets/images/scrolling_banner/004-letter-e.svg"
                aria-hidden="true"
                decoding="async"
                width="40"
                height="34"
            />
        </picture>
        <picture>
            <img
                alt=""
                class="pic"
                src="/assets/svgs/letter-v.svg"
                aria-hidden="true"
                decoding="async"
                width="40"
                height="34"
            />
        </picture>
        <picture>
            <img
                alt=""
                class="pic"
                src="/assets/images/scrolling_banner/004-letter-e.svg"
                aria-hidden="true"
                decoding="async"
                width="40"
                height="34"
            />
        </picture>
        <picture>
            <img
                alt=""
                class="pic"
                src="/assets/svgs/letter-n.svg"
                aria-hidden="true"
                decoding="async"
                width="40"
                height="34"
            />
        </picture>
        <picture>
            <img
                alt=""
                class="pic"
                src="/assets/svgs/letter-t.svg"
                aria-hidden="true"
                decoding="async"
                width="40"
                height="34"
            />
        </picture>
        <picture>
            <img
                alt=""
                class="pic"
                src="/assets/images/scrolling_banner/001-letter-s.svg"
                aria-hidden="true"
                decoding="async"
                width="40"
                height="34"
            />
        </picture>
        <picture>
            <img
                alt=""
                class="pic"
                src="/assets/svgs/event.svg"
                aria-hidden="true"
                decoding="async"
                width="40"
                height="34"
            />
        </picture>
        <picture class="no-motion">
            <img
                alt=""
                class="pic"
                src="/assets/images/scrolling_banner/004-letter-e.svg"
                aria-hidden="true"
                decoding="async"
                width="40"
                height="34"
            />
        </picture>
        <picture class="no-motion">
            <img
                alt=""
                class="pic"
                src="/assets/svgs/letter-v.svg"
                aria-hidden="true"
                decoding="async"
                width="40"
                height="34"
            />
        </picture>
        <picture class="no-motion">
            <img
                alt=""
                class="pic"
                src="/assets/images/scrolling_banner/004-letter-e.svg"
                aria-hidden="true"
                decoding="async"
                width="40"
                height="34"
            />
        </picture>
        <picture class="no-motion">
            <img
                alt=""
                class="pic"
                src="/assets/svgs/letter-n.svg"
                aria-hidden="true"
                decoding="async"
                width="40"
                height="34"
            />
        </picture>
        <picture class="no-motion">
            <img
                alt=""
                class="pic"
                src="/assets/svgs/letter-t.svg"
                aria-hidden="true"
                decoding="async"
                width="40"
                height="34"
            />
        </picture>
        <picture class="no-motion">
            <img
                alt=""
                class="pic"
                src="/assets/images/scrolling_banner/001-letter-s.svg"
                aria-hidden="true"
                decoding="async"
                width="40"
                height="34"
            />
        </picture>
        <picture class="no-motion">
            <img
                alt=""
                class="pic"
                src="/assets/svgs/concert.svg"
                aria-hidden="true"
                decoding="async"
                width="40"
                height="34"
            />
        </picture>
        <picture class="no-motion">
            <img
                alt=""
                class="pic"
                src="/assets/images/scrolling_banner/004-letter-e.svg"
                aria-hidden="true"
                decoding="async"
                width="40"
                height="34"
            />
        </picture>
        <picture class="no-motion">
            <img
                alt=""
                class="pic"
                src="/assets/svgs/letter-v.svg"
                aria-hidden="true"
                decoding="async"
                width="40"
                height="34"
            />
        </picture>
        <picture class="no-motion">
            <img
                alt=""
                class="pic"
                src="/assets/images/scrolling_banner/004-letter-e.svg"
                aria-hidden="true"
                decoding="async"
                width="40"
                height="34"
            />
        </picture>
        <picture class="no-motion">
            <img
                alt=""
                class="pic"
                src="/assets/svgs/letter-n.svg"
                aria-hidden="true"
                decoding="async"
                width="40"
                height="34"
            />
        </picture>
        <picture class="no-motion">
            <img
                alt=""
                class="pic"
                src="/assets/svgs/letter-t.svg"
                aria-hidden="true"
                decoding="async"
                width="40"
                height="34"
            />
        </picture>
        <picture class="no-motion">
            <img
                alt=""
                class="pic"
                src="/assets/images/scrolling_banner/001-letter-s.svg"
                aria-hidden="true"
                decoding="async"
                width="40"
                height="34"
            />
        </picture>
        <picture class="no-motion">
            <img
                alt=""
                class="pic"
                src="/assets/svgs/event.svg"
                aria-hidden="true"
                decoding="async"
                width="40"
                height="34"
            />
        </picture>
        <picture class="no-motion">
            <img
                alt=""
                class="pic"
                src="/assets/images/scrolling_banner/004-letter-e.svg"
                aria-hidden="true"
                decoding="async"
                width="40"
                height="34"
            />
        </picture>
        <picture class="no-motion">
            <img
                alt=""
                class="pic"
                src="/assets/svgs/letter-v.svg"
                aria-hidden="true"
                decoding="async"
                width="40"
                height="34"
            />
        </picture>
        <picture class="no-motion">
            <img
                alt=""
                class="pic"
                src="/assets/images/scrolling_banner/004-letter-e.svg"
                aria-hidden="true"
                decoding="async"
                width="40"
                height="34"
            />
        </picture>
        <picture class="no-motion">
            <img
                alt=""
                class="pic"
                src="/assets/svgs/letter-n.svg"
                aria-hidden="true"
                decoding="async"
                width="40"
                height="34"
            />
        </picture>
        <picture class="no-motion">
            <img
                alt=""
                class="pic"
                src="/assets/svgs/letter-t.svg"
                aria-hidden="true"
                decoding="async"
                width="40"
                height="34"
            />
        </picture>
        <picture class="no-motion">
            <img
                alt=""
                class="pic"
                src="/assets/images/scrolling_banner/001-letter-s.svg"
                aria-hidden="true"
                decoding="async"
                width="40"
                height="34"
            />
        </picture>
        <picture class="no-motion">
            <img
                alt=""
                class="pic"
                src="/assets/svgs/concert.svg"
                aria-hidden="true"
                decoding="async"
                width="40"
                height="34"
            />
        </picture>
    </div>
</div>
