{% block head %}
    <!-- Any page-specific tags that belong in the <head>, such as a page-specific stylesheet -->
    <link rel="stylesheet" href="/assets/css/scrollers.css"/>
{% endblock %}

<!-- ============================================ -->
<!--             Scrolling banner                 -->
<!-- ============================================ -->

<div id="events-banner" class="scroller" data-direction="left" data-speed="fast">
    <div class="scroller__inner">
        <picture class="motion">
            <img class="pic" src="/assets/svgs/concert.svg" alt="concert tickets" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
        </picture>
        <picture>
            <img class="pic" src="/assets/images/scrolling_banner/004-letter-e.svg" alt="the letter e"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture>
            <img class="pic" src="/assets/svgs/letter-v.svg" alt="the letter v" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
        </picture>
        <picture>
            <img class="pic" src="/assets/images/scrolling_banner/004-letter-e.svg" alt="the letter e"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture>
            <img class="pic" src="/assets/svgs/letter-n.svg" alt="the letter n" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
        </picture>
        <picture>
            <img class="pic" src="/assets/svgs/letter-t.svg" alt="the letter t" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
        </picture>
        <picture>
            <img class="pic" src="/assets/images/scrolling_banner/001-letter-s.svg" alt="the letter s"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture>
            <img class="pic" src="/assets/svgs/event.svg" alt="event" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/004-letter-e.svg" alt="the letter e"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/svgs/letter-v.svg" alt="the letter v" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/004-letter-e.svg" alt="the letter e"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/svgs/letter-n.svg" alt="the letter n" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/svgs/letter-t.svg" alt="the letter t" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/001-letter-s.svg" alt="the letter s"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/svgs/concert.svg" alt="concert tickets" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/004-letter-e.svg" alt="the letter e"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/svgs/letter-v.svg" alt="the letter v" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/004-letter-e.svg" alt="the letter e"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/svgs/letter-n.svg" alt="the letter n" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/svgs/letter-t.svg" alt="the letter t" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/001-letter-s.svg" alt="the letter s"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/svgs/event.svg" alt="event" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/004-letter-e.svg" alt="the letter e"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/svgs/letter-v.svg" alt="the letter v" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/004-letter-e.svg" alt="the letter e"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/svgs/letter-n.svg" alt="the letter n" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/svgs/letter-t.svg" alt="the letter t" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/001-letter-s.svg" alt="the letter s"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/svgs/concert.svg" alt="concert tickets" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
        </picture>
    </div>
</div>