<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/logo_white.webp" alt="logo"
                    width="264" height="78"></a>
            {# <p>
                Extra content if you need it, if not you can delete this whole p tag. I usually do.
            </p> #}
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">home</a>
                    </li>
                    <li>
                        <a href="/about">our crew</a>
                    </li>
                    <li>
                        <a href="/parties">our parties</a>
                    </li>
                    <li>
                        <a href="/reviews">reviews</a>
                    </li>
                    <li>
                        <a href="/calendar">calendar</a>
                    </li>
                    <li>
                        <a href="/contact">contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Hours</h2>
                    </li>
                    <li>Tuesday - Friday</li>
                    <li>7am - 4pm</li>
                    <li>Saturday & Sunday</li>
                    <li>9am - 3pm</li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="{{client.address.mapLink}}">
                            {{client.address.lineOne}}<br>
                            {{client.address.lineTwo}}<br>
                            {{client.address.city}}
                            {{client.address.state}}
                            {{client.address.zip}}
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{client.phoneForTel}}">
                            T:
                            {{client.phoneFormatted}}
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{client.email}}">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <p>Designed and Hand Coded by</p>
        <a href="https://www.cardinalcreations.dev" target="_blank" rel="noopener">Cardinal Creations</a>
        <p class="copyright">
            Copyright © 2023 - Present
        </p>
    </div>
</footer>