{% block head %}
    <!-- Any page-specific tags that belong in the <head>, such as a page-specific stylesheet -->
    <link rel="stylesheet" href="/assets/css/scrollers.css"/>
{% endblock %}

<!-- ============================================ -->
<!--             Scrolling banner                 -->
<!-- ============================================ -->

<div id="parties-banner" class="scroller" data-direction="right" data-speed="fast">
    <div class="scroller__inner">
        <picture class="motion">
            <img alt="" class="pic" src="/assets/svgs/dance.svg" 
                    aria-hidden="true" decoding="async" width="40" height="34">
        </picture>
        <picture>
            <img alt="" class="pic" src="/assets/svgs/016-letter-p.svg" 
                    aria-hidden="true" decoding="async" width="40" height="34">
        </picture>
        <picture>
            <img alt="" class="pic" src="/assets/images/scrolling_banner/010-letter-a.svg" 
                    aria-hidden="true" decoding="async" width="40" height="34">
        </picture>
        <picture>
            <img alt="" class="pic" src="/assets/images/scrolling_banner/005-letter-r.svg" 
                    aria-hidden="true" decoding="async" width="40" height="34">
        </picture>
        <picture>
            <img alt="" class="pic" src="/assets/svgs/letter-t.svg" 
                    aria-hidden="true" decoding="async" width="40" height="34">
        </picture>
        <picture>
            <img alt="" class="pic" src="/assets/images/scrolling_banner/008-letter-i.svg" 
                    aria-hidden="true" decoding="async" width="40" height="34">
        </picture>
        <picture>
            <img alt="" class="pic" src="/assets/images/scrolling_banner/004-letter-e.svg" 
                    aria-hidden="true" decoding="async" width="40" height="34">
        </picture>
        <picture>
            <img alt="" class="pic" src="/assets/images/scrolling_banner/001-letter-s.svg" 
                    aria-hidden="true" decoding="async" width="40" height="34">
        </picture>
        <picture>
            <img alt="" class="pic" src="/assets/svgs/camera.svg" 
                    aria-hidden="true" decoding="async" width="40" height="34">
        </picture>
        <picture class="no-motion">
            <img alt="" class="pic" src="/assets/svgs/016-letter-p.svg" 
                    aria-hidden="true" decoding="async" width="40" height="34">
        </picture>
        <picture class="no-motion">
            <img alt="" class="pic" src="/assets/images/scrolling_banner/010-letter-a.svg" 
                    aria-hidden="true" decoding="async" width="40" height="34">
        </picture>
        <picture class="no-motion">
            <img alt="" class="pic" src="/assets/images/scrolling_banner/005-letter-r.svg" 
                    aria-hidden="true" decoding="async" width="40" height="34">
        </picture>
        <picture class="no-motion">
            <img alt="" class="pic" src="/assets/svgs/letter-t.svg" 
                    aria-hidden="true" decoding="async" width="40" height="34">
        </picture>
        <picture class="no-motion">
            <img alt="" class="pic" src="/assets/images/scrolling_banner/008-letter-i.svg" 
                    aria-hidden="true" decoding="async" width="40" height="34">
        </picture>
        <picture class="no-motion">
            <img alt="" class="pic" src="/assets/images/scrolling_banner/004-letter-e.svg" 
                    aria-hidden="true" decoding="async" width="40" height="34">
        </picture>
        <picture class="no-motion">
            <img alt="" class="pic" src="/assets/images/scrolling_banner/001-letter-s.svg" 
                    aria-hidden="true" decoding="async" width="40" height="34">
        </picture>
        <picture class="no-motion">
            <img alt="" class="pic" src="/assets/svgs/dance.svg" 
                    aria-hidden="true" decoding="async" width="40" height="34">
        </picture>
        <picture class="no-motion">
            <img alt="" class="pic" src="/assets/svgs/016-letter-p.svg" 
                    aria-hidden="true" decoding="async" width="40" height="34">
        </picture>
        <picture class="no-motion">
            <img alt="" class="pic" src="/assets/images/scrolling_banner/010-letter-a.svg" 
                    aria-hidden="true" decoding="async" width="40" height="34">
        </picture>
        <picture class="no-motion">
            <img alt="" class="pic" src="/assets/images/scrolling_banner/005-letter-r.svg" 
                    aria-hidden="true" decoding="async" width="40" height="34">
        </picture>
        <picture class="no-motion">
            <img alt="" class="pic" src="/assets/svgs/letter-t.svg" 
                    aria-hidden="true" decoding="async" width="40" height="34">
        </picture>
        <picture class="no-motion">
            <img alt="" class="pic" src="/assets/images/scrolling_banner/008-letter-i.svg" 
                    aria-hidden="true" decoding="async" width="40" height="34">
        </picture>
        <picture class="no-motion">
            <img alt="" class="pic" src="/assets/images/scrolling_banner/004-letter-e.svg" 
                    aria-hidden="true" decoding="async" width="40" height="34">
        </picture>
        <picture class="no-motion">
            <img alt="" class="pic" src="/assets/images/scrolling_banner/001-letter-s.svg" 
                    aria-hidden="true" decoding="async" width="40" height="34">
        </picture>
        <picture class="no-motion">
            <img alt="" class="pic" src="/assets/svgs/camera.svg" 
                    aria-hidden="true" decoding="async" width="40" height="34">
        </picture>
        <picture class="no-motion">
            <img alt="" class="pic" src="/assets/svgs/016-letter-p.svg" 
                    aria-hidden="true" decoding="async" width="40" height="34">
        </picture>
        <picture class="no-motion">
            <img alt="" class="pic" src="/assets/images/scrolling_banner/010-letter-a.svg" 
                    aria-hidden="true" decoding="async" width="40" height="34">
        </picture>
        <picture class="no-motion">
            <img alt="" class="pic" src="/assets/images/scrolling_banner/005-letter-r.svg" 
                    aria-hidden="true" decoding="async" width="40" height="34">
        </picture>
        <picture class="no-motion">
            <img alt="" class="pic" src="/assets/svgs/letter-t.svg" 
                    aria-hidden="true" decoding="async" width="40" height="34">
        </picture>
        <picture class="no-motion">
            <img alt="" class="pic" src="/assets/images/scrolling_banner/008-letter-i.svg" 
                    aria-hidden="true" decoding="async" width="40" height="34">
        </picture>
        <picture class="no-motion">
            <img alt="" class="pic" src="/assets/images/scrolling_banner/004-letter-e.svg" 
                    aria-hidden="true" decoding="async" width="40" height="34">
        </picture>
        <picture class="no-motion">
            <img alt="" class="pic" src="/assets/images/scrolling_banner/001-letter-s.svg" 
                    aria-hidden="true" decoding="async" width="40" height="34">
        </picture>
        <picture class="no-motion">
            <img alt="" class="pic" src="/assets/svgs/dance.svg" 
                    aria-hidden="true" decoding="async" width="40" height="34">
        </picture>
    </div>
</div>