{% block head %}
    <!-- Any page-specific tags that belong in the <head>, such as a page-specific stylesheet -->
    <link rel="stylesheet" href="/assets/css/scrollers.css"/>
{% endblock %}

<!-- ============================================ -->
<!--             Scrolling banner                 -->
<!-- ============================================ -->

<div id="specials-banner" class="scroller" data-direction="right" data-speed="fast">
    <div class="scroller__inner">
        <picture class="motion">
            <img class="pic" src="/assets/svgs/cup.svg" alt="coffee cup" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
        </picture>
        <picture>
            <img class="pic" src="/assets/images/scrolling_banner/001-letter-s.svg" alt="the letter s"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture>
            <img class="pic" src="/assets/images/scrolling_banner/003-letter-p.svg" alt="the letter p"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture>
            <img class="pic" src="/assets/images/scrolling_banner/004-letter-e.svg" alt="the letter e"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture>
            <img class="pic" src="/assets/images/scrolling_banner/009-letter-c.svg" alt="the letter c"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture>
            <img class="pic" src="/assets/images/scrolling_banner/008-letter-i.svg" alt="the letter i"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture>
            <img class="pic" src="/assets/images/scrolling_banner/010-letter-a.svg" alt="the letter a"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture>
            <img class="pic" src="/assets/images/scrolling_banner/011-letter-l.svg" alt="the letter l"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture>
            <img class="pic" src="/assets/images/scrolling_banner/001-letter-s.svg" alt="the letter s"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture>
            <img class="pic" src="/assets/svgs/latte-art.svg" alt="latte art" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/001-letter-s.svg" alt="the letter s"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/003-letter-p.svg" alt="the letter p"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/004-letter-e.svg" alt="the letter e"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/009-letter-c.svg" alt="the letter c"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/008-letter-i.svg" alt="the letter i"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/010-letter-a.svg" alt="the letter a"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/011-letter-l.svg" alt="the letter l"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/001-letter-s.svg" alt="the letter s"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/svgs/cup.svg" alt="coffee cup" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/001-letter-s.svg" alt="the letter s"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/003-letter-p.svg" alt="the letter p"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/004-letter-e.svg" alt="the letter e"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/009-letter-c.svg" alt="the letter c"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/008-letter-i.svg" alt="the letter i"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/010-letter-a.svg" alt="the letter a"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/011-letter-l.svg" alt="the letter l"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/001-letter-s.svg" alt="the letter s"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/svgs/latte-art.svg" alt="latte art" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/001-letter-s.svg" alt="the letter s"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/003-letter-p.svg" alt="the letter p"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/004-letter-e.svg" alt="the letter e"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/009-letter-c.svg" alt="the letter c"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/008-letter-i.svg" alt="the letter i"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/010-letter-a.svg" alt="the letter a"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/011-letter-l.svg" alt="the letter l"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/images/scrolling_banner/001-letter-s.svg" alt="the letter s"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
        </picture>
        <picture class="no-motion">
            <img class="pic" src="/assets/svgs/cup.svg" alt="coffee cup" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
        </picture>
    </div>
</div>