---
title: 'Page title for <title> and OG tags'
description: 'Description for <meta> and OG tags'
preloadImg: ''
permalink: 'calendar/'
eleventyNavigation:
    key: calendar
    order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Any page-specific tags that belong in the <head>, such as a page-specific stylesheet -->
    <link rel="stylesheet" href="/assets/css/critical.css"/>
{% endblock %}

{% block body %}
    <section id="spacer"></section>
    <!-- ============================================ -->
    <!--               Events Banner                  -->
    <!-- ============================================ -->
    <section id="events-banner">
        <div class="scroll-banner">
            <div class="scroll-content">
                <picture>
                    <img class="pic" src="assets/images/scrolling_banner/004-letter-e.svg" alt="the letter e"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/letter-v.svg" alt="the letter v" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/images/scrolling_banner/004-letter-e.svg" alt="the letter e"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/letter-n.svg" alt="the letter n" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/letter-t.svg" alt="the letter t" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/images/scrolling_banner/001-letter-s.svg" alt="the letter s"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/event.svg" alt="event" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/images/scrolling_banner/004-letter-e.svg" alt="the letter e"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/letter-v.svg" alt="the letter v" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/images/scrolling_banner/004-letter-e.svg" alt="the letter e"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/letter-n.svg" alt="the letter n" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/letter-t.svg" alt="the letter t" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/images/scrolling_banner/001-letter-s.svg" alt="the letter s"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/concert.svg" alt="concert tickets" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/images/scrolling_banner/004-letter-e.svg" alt="the letter e"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/letter-v.svg" alt="the letter v" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/images/scrolling_banner/004-letter-e.svg" alt="the letter e"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/letter-n.svg" alt="the letter n" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/letter-t.svg" alt="the letter t" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/images/scrolling_banner/001-letter-s.svg" alt="the letter s"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/event.svg" alt="event" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/images/scrolling_banner/004-letter-e.svg" alt="the letter e"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/letter-v.svg" alt="the letter v" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/images/scrolling_banner/004-letter-e.svg" alt="the letter e"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/letter-n.svg" alt="the letter n" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/letter-t.svg" alt="the letter t" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/images/scrolling_banner/001-letter-s.svg" alt="the letter s"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/concert.svg" alt="concert tickets" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/images/scrolling_banner/004-letter-e.svg" alt="the letter e"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/letter-v.svg" alt="the letter v" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/images/scrolling_banner/004-letter-e.svg" alt="the letter e"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/letter-n.svg" alt="the letter n" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/letter-t.svg" alt="the letter t" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/images/scrolling_banner/001-letter-s.svg" alt="the letter s"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/event.svg" alt="event" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/images/scrolling_banner/004-letter-e.svg" alt="the letter e"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/letter-v.svg" alt="the letter v" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/images/scrolling_banner/004-letter-e.svg" alt="the letter e"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/letter-n.svg" alt="the letter n" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/letter-t.svg" alt="the letter t" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/images/scrolling_banner/001-letter-s.svg" alt="the letter s"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/concert.svg" alt="concert tickets" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
            </div>
            <div class="scroll-content">
                <picture>
                    <img class="pic" src="assets/images/scrolling_banner/004-letter-e.svg" alt="the letter e"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/letter-v.svg" alt="the letter v" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/images/scrolling_banner/004-letter-e.svg" alt="the letter e"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/letter-n.svg" alt="the letter n" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/letter-t.svg" alt="the letter t" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/images/scrolling_banner/001-letter-s.svg" alt="the letter s"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/event.svg" alt="event" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/images/scrolling_banner/004-letter-e.svg" alt="the letter e"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/letter-v.svg" alt="the letter v" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/images/scrolling_banner/004-letter-e.svg" alt="the letter e"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/letter-n.svg" alt="the letter n" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/letter-t.svg" alt="the letter t" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/images/scrolling_banner/001-letter-s.svg" alt="the letter s"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/concert.svg" alt="concert tickets" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/images/scrolling_banner/004-letter-e.svg" alt="the letter e"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/letter-v.svg" alt="the letter v" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/images/scrolling_banner/004-letter-e.svg" alt="the letter e"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/letter-n.svg" alt="the letter n" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/letter-t.svg" alt="the letter t" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/images/scrolling_banner/001-letter-s.svg" alt="the letter s"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/event.svg" alt="event" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/images/scrolling_banner/004-letter-e.svg" alt="the letter e"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/letter-v.svg" alt="the letter v" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/images/scrolling_banner/004-letter-e.svg" alt="the letter e"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/letter-n.svg" alt="the letter n" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/letter-t.svg" alt="the letter t" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/images/scrolling_banner/001-letter-s.svg" alt="the letter s"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/concert.svg" alt="concert tickets" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/images/scrolling_banner/004-letter-e.svg" alt="the letter e"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/letter-v.svg" alt="the letter v" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/images/scrolling_banner/004-letter-e.svg" alt="the letter e"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/letter-n.svg" alt="the letter n" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/letter-t.svg" alt="the letter t" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/images/scrolling_banner/001-letter-s.svg" alt="the letter s"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/event.svg" alt="event" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/images/scrolling_banner/004-letter-e.svg" alt="the letter e"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/letter-v.svg" alt="the letter v" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/images/scrolling_banner/004-letter-e.svg" alt="the letter e"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/letter-n.svg" alt="the letter n" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/letter-t.svg" alt="the letter t" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/images/scrolling_banner/001-letter-s.svg" alt="the letter s"
                    aria-hidden="true" decoding="async" width="40px" height="33.5px">
                </picture>
                <picture>
                    <img class="pic" src="assets/svgs/concert.svg" alt="concert tickets" aria-hidden="true" decoding="async"
                    width="40px" height="33.5px">
                </picture>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                  Calendar                    -->
    <!-- ============================================ -->

    <section id="calendar">
        <div class="calendar-container">
            <iframe src="https://embed.styledcalendar.com/#G6b26QthiJHghOTVXDpb" title="Styled Calendar"
            class="styled-calendar-container" style="width: 100%; border: none;"
            data-cy="calendar-embed-iframe"></iframe>
            <script async type="module" src="https://embed.styledcalendar.com/assets/parent-window.js"></script>
        </div>
    </section>
    <!-- Page HTML goes here, without a <main> wrapper -->
{% endblock %}