---
title: 'calendar'
description: 'see all the upcoming events at superofficial and The Copper Easel!'
preloadImg: ''
permalink: 'calendar/'
eleventyNavigation:
    key: calendar
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Any page-specific tags that belong in the <head>, such as a page-specific stylesheet -->
    <link rel="stylesheet" href="/assets/css/critical.css"/>
{% endblock %}

{% block body %}

    <div class="spacer"></div>

    {% include 'components/events-scroller.html' %}

    <!-- ============================================ -->
    <!--                  Calendar                    -->
    <!-- ============================================ -->

    <section id="calendar">
        <h1>what are WE up to?</h1>
        <div class="calendar-container">
            <iframe src="https://embed.styledcalendar.com/#G6b26QthiJHghOTVXDpb" title="Styled Calendar"
            class="styled-calendar-container" style="width: 100%; border: none;"
            data-cy="calendar-embed-iframe"></iframe>
            <script async type="module" src="https://embed.styledcalendar.com/assets/parent-window.js"></script>
        </div>
        <p>
            Click the button below to copy the iCal URL to add this calendar to calendars other than Google Calendar.
        </p>
        <button class="cs-button-solid" id="copyButton">Copy iCal URL</button>
    </section>
    <!-- Page HTML goes here, without a <main> wrapper -->
{% endblock %}