---
title: 'parties'
description: 'look at how much gosh darn fun we have here. don't you wanna have this much fun? come on, I know you do. don't lie to me.'
preloadImg: ''
permalink: 'parties/'
eleventyNavigation:
    key: our parties
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/parties.css">
{% endblock %}

{% block body %}

    <div class="spacer"></div>

    {% include 'components/parties-scroller.html' %}

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery">
        <h1>we're so fun.</h1>
        <div class="cs-container">
            <div class="cs-image-group">
                <!-- Row 1-->
                <div class="cs-row cs-row-1">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/polaroid-scans/img041.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/polaroid-scans/img041.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/polaroid-scans/img041.jpg" alt="dave"
                        loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/polaroid-scans/img057.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/polaroid-scans/img057.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/polaroid-scans/img057.jpg"
                        alt="new home construction" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/polaroid-scans/img072.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/polaroid-scans/img072.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/polaroid-scans/img072.jpg"
                        alt="building a new wall" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/polaroid-scans/img042.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/polaroid-scans/img042.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/polaroid-scans/img042.jpg" alt="dave"
                        loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/polaroid-scans/img045.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/polaroid-scans/img045.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/polaroid-scans/img045.jpg"
                        alt="new home construction" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/polaroid-scans/img048.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/polaroid-scans/img048.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/polaroid-scans/img048.jpg"
                        alt="building a new wall" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/polaroid-scans/img051.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/polaroid-scans/img051.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/polaroid-scans/img051.jpg" alt="dave"
                        loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/polaroid-scans/img063.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/polaroid-scans/img063.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/polaroid-scans/img063.jpg"
                        alt="new home construction" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/polaroid-scans/img077.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/polaroid-scans/img077.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/polaroid-scans/img077.jpg"
                        alt="building a new wall" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/polaroid-scans/img052.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/polaroid-scans/img052.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/polaroid-scans/img052.jpg" alt="dave"
                        loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/polaroid-scans/img067.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/polaroid-scans/img067.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/polaroid-scans/img067.jpg"
                        alt="new home construction" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/polaroid-scans/img078.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/polaroid-scans/img078.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/polaroid-scans/img078.jpg"
                        alt="building a new wall" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 2 -->
                <div class="cs-row cs-row-2">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/polaroid-scans/img081.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/polaroid-scans/img081.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/polaroid-scans/img081.jpg" alt="new kitchen"
                        loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/polaroid-scans/img064.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/polaroid-scans/img064.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/polaroid-scans/img064.jpg"
                        alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/polaroid-scans/img058.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/polaroid-scans/img058.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/polaroid-scans/img058.jpg"
                        alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/polaroid-scans/img019.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/polaroid-scans/img019.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/polaroid-scans/img019.jpg" alt="dave"
                        loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/polaroid-scans/img046.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/polaroid-scans/img046.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/polaroid-scans/img046.jpg"
                        alt="new home construction" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/polaroid-scans/img039.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/polaroid-scans/img039.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/polaroid-scans/img039.jpg"
                        alt="building a new wall" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/polaroid-scans/img054.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/polaroid-scans/img054.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/polaroid-scans/img054.jpg" alt="dave"
                        loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/polaroid-scans/img069.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/polaroid-scans/img069.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/polaroid-scans/img069.jpg"
                        alt="new home construction" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/polaroid-scans/img079.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/polaroid-scans/img079.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/polaroid-scans/img079.jpg"
                        alt="building a new wall" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/polaroid-scans/img055.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/polaroid-scans/img055.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/polaroid-scans/img055.jpg" alt="dave"
                        loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/polaroid-scans/img073.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/polaroid-scans/img073.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/polaroid-scans/img073.jpg"
                        alt="new home construction" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/polaroid-scans/img082.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/polaroid-scans/img082.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/polaroid-scans/img082.jpg"
                        alt="building a new wall" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 3 -->
                <div class="cs-row cs-row-3">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/polaroid-scans/img059.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/polaroid-scans/img059.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/polaroid-scans/img059.jpg" alt="new kitchen"
                        loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/polaroid-scans/img070.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/polaroid-scans/img070.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/polaroid-scans/img070.jpg"
                        alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/polaroid-scans/img071.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/polaroid-scans/img071.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/polaroid-scans/img071.jpg"
                        alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/polaroid-scans/img040.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/polaroid-scans/img040.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/polaroid-scans/img040.jpg" alt="dave"
                        loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/polaroid-scans/img047.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/polaroid-scans/img047.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/polaroid-scans/img047.jpg"
                        alt="new home construction" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/polaroid-scans/img050.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/polaroid-scans/img050.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/polaroid-scans/img050.jpg"
                        alt="building a new wall" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/polaroid-scans/img056.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/polaroid-scans/img056.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/polaroid-scans/img056.jpg" alt="dave"
                        loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/polaroid-scans/img075.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/polaroid-scans/img075.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/polaroid-scans/img075.jpg"
                        alt="new home construction" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/polaroid-scans/img083.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/polaroid-scans/img083.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/polaroid-scans/img083.jpg"
                        alt="building a new wall" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/polaroid-scans/img062.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/polaroid-scans/img062.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/polaroid-scans/img062.jpg" alt="dave"
                        loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/polaroid-scans/img076.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/polaroid-scans/img076.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/polaroid-scans/img076.jpg"
                        alt="new home construction" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/polaroid-scans/img084.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/polaroid-scans/img084.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/polaroid-scans/img084.jpg"
                        alt="building a new wall" loading="lazy" width="400" height="560">
                    </picture>
                </div>
            </div>
        </div>
    </section>

    {# {% include 'components/cta.html' %} #}

{% endblock %}