---
title: 'Reviews'
description: 'Meta description for the page'
preloadImg: ''
permalink: 'reviews/'
eleventyNavigation:
    key: reviews
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/reviews.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                  Reviews                     -->
    <!-- ============================================ -->

    <section id="reviews">
        <h1>what DO the people think, really?</h1>
        <div class="container">
            <div class="review">
                {# <picture>
                    <img class="profile" loading="lazy" decoding="async" src="" alt="" width="99" height="99">
                </picture> #}
                <div class="profile">
                    SA
                </div>
                <p>
                   Awesome staff. Super welcoming. Perfect vibe. Have never had a drink that anything shy of incredible. Love the support of local artist. Will be back for sure.
                </p>
                <div class="star-group">
                    <span class="name">Samm A.<span class="desc">Homeowner</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <div class="profile">
                    ZR
                </div>
                <p>
                    Come for the coffee, stay for the vibes. Supeeofficial is by far the best coffee shop you can find in Rome and in my opinion the surrounding area. The quality of the product is absolutely astounding, the menu is well curated and filled with hand crafted drink ideas fitted for the season as well as a good handful of staple items that will always have you coming back for more. If you haven't been to superofficial yet, do it right now. And if you already know about this super gem of a super shop, go again.
                </p>
                <div class="star-group">
                    <span class="name">Zach R.<span class="desc">Homeowner</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <div class="profile">
                    MA
                </div>
                <p>
                    All I have to say is WOW. The owners are delightful and bring a warm presence to the area of Rome, the coffee beans are fresh, and the local art brings out an aspect of Rome that is sorely underrated and under represented. It's nice for once to NOT have a cup of sour coffee. Fantastic products from the cafe!

Love the spicy everything bagels -- what a nice addition! Definitely the best bagels around, hands down.

**UPDATE - THEY HAVE HOT DOGS, I love and appreciate the many events they keep up with on a frequent basis. This time was an outdoor bbq with many unique homemade  hot dogs and burgers. Keep up the great work 🤙🏻
                </p>
                <div class="star-group">
                    <span class="name">Mike A.<span class="desc">Homeowner</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <div class="profile">
                    SR
                </div>
                <p>
                    Stopped here while passing through Rome after a quick google search for an afternoon pick-me-up. Superofficial more than delivered! Nested inside of an art gallery-like shop is this one-of-a-kind cafe. I tried the limone italiano gabbugeen (a summer lemon latte of sorts) and was mind. blown. It was amazing! The others in my party got a supa-sprola (coffee made to reminisce a cola, also from the summer menu), drinking chocolate, an aerocano (espresso magically turned into a nitro cold brew almost??), and an iced malted mocha. What was even better than the amazing drinks was the customer service! We hoped to stop by again on our way back south a few days later but were so sad to see that they were closed Sundays. If I ever find myself in Rome again I will certainly be returning!
                </p>
                <div class="star-group">
                    <span class="name">Sophie R.<span class="desc">Homeowner</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <div class="profile">
                    JK
                </div>
                <p>
This small, coffee shop shared space with one or two craft boutiques and at the time I was there, had a large, sleepy grey mastiff lounging on the floor as a small group of adventurers enjoyed a game of D&D. Quite a cozy, eclectic atmosphere! This was one of the best iced americanos that I had on my entire Empire State Trail biking experience. Yes, it was so nice that I ordered it twice!                </p>
                <div class="star-group">
                    <span class="name">Josh K.</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <div class="profile">
                    BA
                </div>
                <p>
                    A friend brought me to this shop while I was visiting from out of town, and WOW. I’m not a coffee drinker, but we ended up 
                    ordering coffee after coffee because each seasonal flavor was better than the next and we needed to try them all. The space, 
                    the staff, and the sweets (from Always Sonny) were all AMAZING, and John was so much fun and took amazing care of us. It was 
                    honestly an absolute joy spending my morning here and I didn’t want to leave. 10/10 experience, and I would drive another 5 hours 
                    again and again to visit this place!                </p>
                <div class="star-group">
                    <span class="name">Brian A.<span class="desc">Homeowner</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
        </div>
    </section>

    {# {% include 'components/cta.html' %} #}

{% endblock %}